{% extends 'events/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <center>
    <h1>Add Event to Database</h1>
    </center>
    <br/><br/>
   
    {% if submitted %}
    <center>
    Your Event was Submitted Successfully!!
    </center>
    {% else %}
    <form action="" method=POST>
        {% csrf_token %}<!--for safety of form-->

        {{ form.as_p }}
        <center>
        <input type="submit" value="Submit" class="btn btn-secondary">
        </center>
        <br/>
        <br/>
        <br/>
        <br/>
    </form>

    {% endif %}

{% else %}

    <h1> Sorry! You Must Be Logged in To View This Page </h1>
    <a href="{% url 'login' %}">Login here</a>

{% endif %}

    
{% endblock %}