{% extends 'events/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <center>
    <h1>Add Venue to Database</h1>
    <br/><br/>
    {% if submitted %}
    Your Venue was Submitted Successfully!!

    {% else %}
    <form action="" method=POST>
        {% csrf_token %}<!--for safety of form-->

        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-secondary">
        <br/>
        <br/>
        <br/>
        <br/>
    </form>

    {% endif %}

{% else %}

    <h1> Sorry! You Must Be Logged in To View This Page </h1>
    <a href="{% url 'login' %}">Login here</a>

{% endif %}
    </center>

    
{% endblock %}