{% extends 'events/base.html' %}

{% block content %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>There was an error with your form...</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
    <div class="shadow p-4 mb-5 bg-body rounded">
    <center>
    <h1>Register</h1>
    </center>
    <br/><br/>
   
    <form action="{% url 'register_user' %}" method=POST>
        {% csrf_token %}<!--for safety of form-->
        
            {{ form.as_p }}
            <center>
            <br/>
            <input type="submit" value="Submit" class="btn btn-success">
            </center>
    </form>
    </div>
       
        <br/>
        <br/>
        <br/>
        <br/>

{% endblock %}